Azure Artifacts/pipeline_to_copy_and_transform_data_to_lake_using_DF.json
{
    "name": "copy_tables",
    "properties": {
        "description": "tables: \nSalesOrderHeader\nSalesOrderDetail\nProduct\nSalesTerritory",
        "activities": [
            {
                "name": "Look for all tables",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlServerSource",
                        "sqlReaderQuery": "SELECT\ns.name AS SchemaName,\nt.name AS TableName\nFROM sys.tables t\nINNER JOIN sys.schemas s\nON t.schema_id = s.schema_id\nWHERE t.name IN ('SalesOrderHeader', 'SalesOrderDetail', 'Product', 'SalesTerritory');",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "SqlDBTables",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "For Each Schema Table",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Look for all tables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Look for all tables').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy Each Table",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SqlServerSource",
                                    "sqlReaderQuery": {
                                        "value": "@{concat('SELECT * FROM ', item().SchemaName, '.', item().TableName)}",
                                        "type": "Expression"
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "SqlServerCopy",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "parquetTables",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "schemaname": {
                                            "value": "@item().SchemaName",
                                            "type": "Expression"
                                        },
                                        "tablename": {
                                            "value": "@item().TableName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "storage-amount",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "For Each Schema Table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/storage-amount"
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks_LinkedService",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "bronze to silver tranformation",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "storage-amount",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/bronze to silver"
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks_LinkedService",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "silver to gold tranformation",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "bronze to silver tranformation",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/silver to gold"
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks_LinkedService",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2024-11-19T22:06:00Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}